:root {
  --white: #f5f5f5;
  --yellow: #fbc02d;
  --black: #333333;
  --dark-yellow: #c49000;
}

body {
  background-color: var(--white);
}

header {
  position: sticky;
  top: 0;
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  z-index: 20;
}

h1 {
  font-size: 400%;
  font-family: "Roboto Slab", serif;
  background-color: var(--yellow);
  padding-left: 3rem;
}

.plain {
  color: var(--black);
  text-decoration: none;
}

.plain:hover {
  color: var(--dark-yellow);
  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: var(--yellow);
  padding: 0.5rem;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--yellow);
  padding-right: 3rem;
}

.nav-link {
  padding: 0.67em;
  display: inline-block;
  background-color: var(--yellow);
  font-weight: 600;
  font-size: 150%;
  color: var(--black);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  width: 10rem;
  text-align: center;
}

.nav-link:hover {
  color: var(--dark-yellow);
  font-family: "Roboto Slab", serif;
}

.hero {
  width: 100%;
}

hr {
  height: 0.8rem;
  background-color: var(--black);
  position: sticky;
  top: 200px;
  z-index: 10;
}

.about {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-family: "Open Sans", sans-serif;
  font-size: 125%;
  line-height: 1.25;
  text-align: justify;
  padding-bottom: 25px;
  margin: 0 auto;
  scroll-margin-top: 12em;
}

.about-container,
.repo-container {
  padding-top: 50px;
  padding-bottom: 25px;
}

.my-work {
  padding-top: 5rem;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  scroll-margin-top: 10em;
  border: 0.8rem solid var(--black);
}

.container-first {
  position: relative;
  width: 60rem;
  max-width: 1000px;
}

.container {
  position: relative;
  width: 30rem;
  max-width: 500px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: var(--yellow);
  color: var(--black);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.container-first:hover .overlay {
  opacity: 1;
}

.first-project {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: auto;
}

.projects {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: auto;
}

.line-break {
  width: 100%;
}

.repo-ul {
  display: block;
  text-align: center;
  list-style: none;
}

li {
  line-height: 1.25;
}

.repo-li {
  margin: auto;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
}

.contact-container {
  display: block;
  width: 90%;
  margin: 1.5rem auto;
  padding: 1rem;
  border: 0.8rem solid var(--black);
  background: var(--yellow);
  background-color: var(--yellow);
  text-align: center;
}

h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 200%;
  line-height: 1.25;
}

.contact-ul {
  background: var(--yellow);
  display: block;
  background-color: var(--yellow);
  text-align: center;
}

.contact-li,
.nav-li {
  margin: auto;
  background-color: var(--yellow);
  background: var(--yellow);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  line-height: 2;
}

.contact-li:hover,
.resume:hover {
  color: var(--dark-yellow);
  font-family: "Roboto Slab", serif;
}

.resume {
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
  font-weight: bolder;
  text-decoration: none;
}

footer {
  margin: 2.5rem auto;
  padding: 5rem;
}

.footer-p {
  text-align: right;
  font-family: "Roboto Slab", serif;
}

.valerie {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 200%;
}

@media screen and (max-width: 1072px) {
  header {
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    font-size: 0.7em;
  }

  h1 {
    padding-left: 0;
    text-align: center;
  }

  nav {
    width: 100%;
  }

  .nav-ul {
    display: flex;
    flex-grow: 1;
    max-width: inherit;
    padding-right: 0;
  }

  .nav-link {
    padding: 0.5em;
    font-size: 2em;
    width: 100%;
  }

  .hero {
    display: none;
  }

  .about {
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    padding: 0;
    text-align: center;
  }

  nav {
    padding: 0.5rem;
  }

  .nav-ul {
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    padding: 0.5em;
    font-size: 1.5em;
  }

  .contact-container footer {
    max-width: 90%;
    padding: 0px;
    margin: 0;
  }
}
